<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bebidas</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

<div class="container mt-3">
    <h1>Bebidas</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Bebida</th>
                <th>Grado de Alcohol</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iteramos sobre la lista bebidas y mostramos los detalles -->
            <tr th:each="bebida: ${bebidas}">
                <td th:text="${bebida.nombre}"></td>
                <td>
                    <h5 th:text="${bebida.gradoAlcohol}"> </h5>

                    <!-- Botón para redirigir al formulario de la eliminacion de la bebida -->
                    <form th:action="@{/deleteBebida}" method="post">
                        <input type="hidden" name="id" th:value="${bebida.id}" />
                        <button type="submit" class="btn btn-primary" style="background-color: red; border-color: red; margin-top: 10px;">Eliminar Bebida</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

     <!-- Botón para redirigir al formulario de creación de tipo bebida -->
     <a th:href="@{/crearBebida}" class="btn btn-primary" style="margin-bottom: 38px;">Crear Nueva Bebida</a>

</div>

<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
