<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Tipo de Bebida</title>
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

<div class="container mt-3">
    <h1>Nuevo Tipo de Bebida</h1>

    <!-- Formulario de creación -->
    <form th:action="@{/crearBebidaTipo}" th:object="${nuevoBebidaTipo}" method="post">
        <label for="nombre">Nombre del tipo de bebida:</label>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required />

        <!-- Campos para la información de la bebida -->
        <label for="bebidaNombre">Nombre de la Bebida:</label>
        <input type="text" id="bebidaNombre" name="bebidas[0].nombre" th:field="*{bebidas[0].nombre}" required />

        <label for="gradoAlcohol">Grado de Alcohol:</label>
        <input type="text" id="gradoAlcohol" name="bebidas[0].gradoAlcohol" th:field="*{bebidas[0].gradoAlcohol}" required />


        <button type="submit" class="btn btn-success">Crear Tipo de Bebida</button>
    </form>

</div>

</body>
</html>
