<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Bebida</title>
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

<div class="container mt-3">
    <h1>Nueva Bebida</h1>

    <!-- Formulario de creación -->
    <form th:action="@{/crearBebidaNueva}" th:object="${bebidaNueva}" method="post">

        <!-- Campos para la información de la bebida -->
        <label for="bebidaNombre">Nombre de la Bebida:</label>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required />
    
        <label for="gradoAlcohol">Grado de Alcohol:</label>
        <input type="text" id="gradoAlcohol" name="gradoAlcohol" th:field="*{gradoAlcohol}" required />
    
        <button type="submit" class="btn btn-success">Crear Bebida</button>
    </form>
    

</div>

</body>
</html>
