<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipo de bebidas con sus respectivas bebidas</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

<div class="container mt-3">
    <h1>Bebida Tipos</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Tipo de Bebida</th>
                <th>Bebidas [Nombre, Grado de alcohol]</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iteramos sobre la lista de tipos de bebidas y mostramos los detalles -->
            <tr th:each="bebidaTipo : ${bts}">
                <td th:text="${bebidaTipo.nombre}"></td>
                <td>
                    <!-- Iteramos sobre la lista de bebidas y mostramos los detalles -->
                    <ul th:if="${bebidaTipo.Bebidas != null}">
                        <li th:each="Bebidas : ${bebidaTipo.Bebidas}">
                            <span th:text="${Bebidas.nombre + ', ' + Bebidas.gradoAlcohol}"></span>
                        </li>
                    </ul>

                    <!-- Botón para redirigir al formulario de adición de la bebida -->
                    <a th:href="@{'/addBebida?nombre=' + ${bebidaTipo.nombre}}" class="btn btn-primary">Añadir Bebida</a>

                    <!-- Botón para redirigir al formulario de la eliminacion del tipo de bebida -->
                    <form th:action="@{/deleteBebidaTipo}" method="post">
                        <input type="hidden" name="nombre" th:value="${bebidaTipo.nombre}" />
                        <button type="submit" class="btn btn-primary" style="background-color: red; border-color: red; margin-top: 10px;">Eliminar Tipo de Bebida</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

     <!-- Botón para redirigir al formulario de creación de tipo bebida -->
     <a th:href="@{/btForm}" class="btn btn-primary" style="margin-bottom: 38px;">Crear Nuevo Tipo de Bebida</a>

</div>

<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
