<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumos</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
    <style>
        /* Estilos para las celdas de la tabla */
        table {
            width: 100%;
        }

        th, td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px; 
            padding: 8px;
        }
    </style>
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

    <div class="container mt-3">
        <h1>Consumos</h1>

        <div class="row">
            <div class="col-md-6 mb-3">
                <!-- Formulario para buscar por nombre -->
                <form th:action="@{/consumoCliente}" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="cliente_id" placeholder="Buscar por id del Cliente">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 mb-3">
                <!-- Botón para redirigir al formulario de creación de tipo de habitación -->
                <a th:href="@{/crearConsumo}" class="btn btn-primary">Crear un nuevo consumo</a>
            </div>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Numero Habitacion</th>
                    <th>Servicio Nombre</th>
                    <th>Cliente Id</th>
                    <th>Descripcion</th>
                    <th>Costo</th>
                    <th>Fecha</th> <!-- Nueva columna para acciones -->
                </tr>
            </thead>
            <tbody>
                <!-- Iteramos sobre la lista de tipos de habitación y mostramos los detalles -->
                <tr th:each="consumo: ${consumos}">
                    <td>
                        <span th:each="habitacion: ${consumo.habitaciones}">
                            <span th:if="${habitacion != null}" th:text="${habitacion.numero}"></span>
                        </span>
                    </td>
                    <td>
                        <span th:each="servicio: ${consumo.servicios}">
                            <span th:if="${servicio != null}" th:text="${servicio.nombre}"></span>
                        </span>
                    </td>
                    <td>
                        <span th:each="cliente: ${consumo.clientes}">
                            <span th:if="${cliente != null}" th:text="${cliente.id}"></span>
                        </span>
                    </td>
                    <td th:text="${consumo.descripcion}"></td>
                    <td th:text="${consumo.costo}"></td>
                    <td th:text="${consumo.fecha}"></td>
                    <td>
                        <!-- Botón para redirigir al formulario de eliminación del tipo de habitación -->
                        <form th:action="@{/deleteConsumo}" method="post">
                            <input type="hidden" name="id" th:value="${consumo.id}" />
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                    <td>
                        <!-- Botón para redirigir a la página de edición del tipo de habitación -->
                        <a th:href="@{'/editarConsumo?id=' + ${consumo.id}}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>

