<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la Consulta</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

    <div class="container mt-3">
        <h1>Resultados de la Consulta</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Número de Habitación</th>
                    <th>Nombre Tipo de Habitación</th>
                    <th>Detalles de Habitación</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="habitacion : ${habitaciones}">
                    <td th:text="${habitacion.numero}"></td>
                    <td th:text="${habitacion.tipo_habitacion[0].nombre}"></td>
                    <td>
                        <ul>
                            <li th:text="${habitacion.tipo_habitacion[0].descripcion} + ' - Capacidad: ' + ${habitacion.tipo_habitacion[0].capacidad} + ' - Costo: ' + ${habitacion.tipo_habitacion[0].costo}"></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>

</body>
</html>
