<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

    <div class="container mt-3">
        <h1>Servicios</h1>

        <div class="row">
            <div class="col-md-6 mb-3">
                <!-- Formulario para buscar por nombre -->
                <form th:action="@{/buscarPorNombreServicio}" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="nombre" placeholder="Buscar por nombre">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre Servicio</th>
                    <th>Productos Menu [Nombre, descripción, precio]</th>
                    <th>Acciones</th> <!-- Nueva columna para acciones -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="servicio : ${servicios}">
                    <td th:text="${servicio.nombre}"></td>
                    <td>
                        <ul th:if="${servicio.productos_menu != null}">
                            <li th:each="productos_menu : ${servicio.productos_menu}">
                                <span th:text="${productos_menu.nombre + ', ' + productos_menu.descripcion + ', ' + productos_menu.precio }"></span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <div class="d-flex flex-column align-items-start">
                            <a th:href="@{'/addProductosMenu?nombre=' + ${servicio.nombre}}" class="btn btn-primary mb-2">Añadir producto menu</a>
                            
                            <form th:action="@{/deleteServicio}" method="post">
                                <input type="hidden" name="nombre" th:value="${servicio.nombre}" />
                                <button type="submit" class="btn btn-danger">Eliminar Servicio</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <a th:href="@{/serviciosForm}" class="btn btn-primary" style="margin-bottom: 20px;">Crear Servicio</a>
    </div>

    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
