<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipos Bebidas</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

    <div class="container mt-3">
        <h1>Tipos Bebidas</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo de Bebida</th>
                    <th>Bebidas [Object Id]</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iteramos sobre la lista de tipos de bebidas y mostramos los detalles -->
                <tr th:each="bebidaTipo : ${tipos}">
                    <td th:text="${bebidaTipo.nombre}"></td>
                    <td>
                        <!-- Iteramos sobre la lista de bebidas dentro de cada tipo -->
                        <span th:each="idBebida : ${bebidaTipo.bebidas}">
                            <!-- Mostramos los detalles de cada bebida -->
                            <span th:text="${idBebida.id}"></span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    
         <!-- Botón para redirigir al formulario de creación de tipo bebida -->
         <a th:href="@{/tbForm}" class="btn btn-primary" style="margin-bottom: 38px;">Crear Nuevo Tipo de Bebida</a>
    
    </div>

    <hr>
    

    <div class="container mt-3">
        <h1>Pipeline de agregacion</h1>
        <!-- Botón para redirigir a la consulta de agregacion -->
        <a th:href="@{/mostrarResultadosAgregacion}" class="btn btn-primary" style="margin-bottom: 38px;">Ver tipo de bebida y sus bebidas completas</a>
    
    </div>

<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
